---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";
const description = "I am a front-end developer based in Latvia";

const identity = {
  fullName: "Anna Bicevska",
  country: "Latvia",
  occupation: "Front-end developer",
  hobbies: ["bouldering", "travelling", "family history research"]
};

const skills = ["React", "TypeScript", "Node.js", "Redux", "Zustand"];
---

<Layout title={pageTitle} description={description}>
  <div class="prose prose-stone mt-4 space-y-4 dark:prose-invert">
    <h1>
      {pageTitle}
    </h1>
    <p class="text-xl font-bold">Here are a few facts about me:</p>
    <ul class="list-disc space-y-1">
      <li>My name is {identity.fullName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    </ul>
    <p class="text-xl font-bold">My skills are:</p>
  </div>

  <ul class="list-inside space-y-1">
    {skills.map((skill) => <li class="text-lime-600">{skill}</li>)}
  </ul>
</Layout>
