---
interface Props {
  title: string;
  section: string;
  description?: string;
  url?: string;
}

const { title, section, url } = Astro.props;
---

<div
  class="mb-5 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-950 dark:bg-lime-950"
>
  <a href={url} class="max-h-30 min-h-20 rounded-t-lg bg-lime-200">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 250 60"
      width="100%"
      class="rounded-t-lg bg-lime-200 p-4 py-8"
    >
      <text
        x="50%"
        y="50%"
        dominant-baseline="middle"
        text-anchor="middle"
        font-family="monospace"
        font-size="26px"
        fill="#333333"
      >
        {title}
      </text>
    </svg>
  </a>
  <div class="p-5">
    <a href={url}>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-lime-50">
        {title}
      </h5>
    </a>
    <p class="mb-3 font-bold text-gray-700 dark:text-lime-200">{section}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-white">{description ?? ""}</p>
    <a
      class="inline-flex items-center rounded-lg bg-lime-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-lime-800 focus:ring-4 focus:ring-lime-200 dark:bg-lime-300 dark:text-black dark:hover:bg-lime-400 dark:focus:ring-lime-500"
      href={url}
    >
      Read more
    </a>
  </div>
</div>
