---
import Layout from "./Layout.astro";
import H1 from "../components/typography/H1.astro";
import H2 from "../components/typography/H2.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Breadcrumbs />
  <H1 class="my-4">{frontmatter.title}</H1>
  <H2>{frontmatter.section}</H2>
  <Tags tags={frontmatter.tags} />
  <div
    class="prose mt-4
    dark:prose-invert
  prose-headings:underline prose-h1:text-xl
  prose-h1:font-bold prose-p:text-justify prose-a:text-lime-600
  prose-img:rounded-xl"
  >
    <slot />
  </div>
</Layout>
